html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

.container,
#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board {
  box-shadow: 0 0 0 5px black;
  background: darkgray;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-message {
  color: white;
  display: inline-block;
  padding: 0 10px;
}

.obstacle-unit,
.snake-unit {
  background: red;
  position: absolute;
}

.obstacle-unit {
  background: black;
  border-radius: 50%;
}

.title {
  margin: 0 0 10px;
}

.subtitle {
  margin: 0 0 30px;
}

.text-center {
  text-align: center;
}

.score {
  position: absolute;
  top: 0;
  left: 100%;
  display: inline-block;
  padding: 10px;
  text-align: left;
}

.level {
  top: 50px;
}

.score-number {
  font-size: 20px;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  .title {
    font-size: 1.75em;
  }

  .subtitle {
    font-size: 1.25em;
  }

  .score {
    top: 100%;
    left: 0;
    padding-left: 0;
  }

  .level {
    left: auto;
    right: 0;
    text-align: right;
  }

  .board {
    margin-bottom: 40px;
  }
}